html {
  margin: 0;
  padding: 0;
}

body {
  padding-right: 17px;
  padding-top: 120px;
  width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  display: flex;
  position: relative;
  margin: 0;
  background-image: url('img/forest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.videofullscreen {
  display: fixed;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  z-index: -100;
}

.container {
  margin-block: auto;
  margin-top: 5%;
}

#title {
  color: rgb(144, 210, 126);
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  /* margin-top: 10%; */
  display: block;
}

#subTitle {
  color: rgb(144, 210, 126);
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  display: block;
}

.button {
  display: inline-block;
  width: 180px;
  height: 60px;
  border: 5px solid rgb(60, 123, 42);
  background-color: rgb(60, 123, 42);
  color: rgb(144, 210, 126);
  font-size: 2em;
  text-align: center;
  border-radius: 25px;
}

#progetto {
  margin-top: 10%;
  font-size: 1.5em;
}

.textImage {
  display: inline-block;
  width: 100%;
  height: 500px;
  margin-bottom: 3%;
}

#paginaIniziale {
  background-color: transparent;
  margin-top: 2%;
}

.application {
  text-align: center;
  margin-top: 10%;
  display: block;
  border-radius: 25px;
  height: 800px;
  padding: 2%;
  background-color: rgb(173, 201, 165);
  width: 100%;
}

#intestazione {
  color: black;
  /* margin-top: 5%;*/
  display: block;
}

#rilevamenti {
  background-color: transparent;
  margin-top: 2%;
  margin-bottom: 2%;
  display: inline-block;
  border-radius: 25px;
  height: 20%;
  width: 100%;
}

#rilevamenti :nth-child(1) {
  float: left;
}

#rilevamenti :nth-child(4) {
  float: right;
}

#rilevamenti :nth-child(2) {
  margin-right: 1%;
}

#rilevamenti div {
  padding-top: 20px;
  font-weight: bold;
  font-size: 2em;
  border-radius: 25px;
  background-color: rgb(109, 137, 102);
  height: 100px;
  width: 24%;
  display: inline-block;
}

#paginaDati {
  height: fit-content;
  margin-bottom: 2rem;
  margin-top: 5%;
}

#parametri {
  background-color: transparent;
  display: inline-block;
  border-radius: 25px;
  height: 74%;
  width: 100%;
}

#parametri .div {
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(109, 137, 102);
  height: 100%;
  width: 96%;
  margin: 2%;
}


.paramTitolo {
  margin-top: 5%;
  color: rgb(109, 137, 102);
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 1.8em;
  font-weight: bold;
}

.cont {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

#pTitolo {
  position: absolute;
  float: right;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2%;
}

#myChart {
  margin: 1%;
  width: 90%;
  height: 90%;
}

#contenitoreCanvas {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: white;
}

table {
  width: 80%;
  margin: 0 auto;
}

td {
  border: 2px solid black;
}

.button:hover {
  cursor: pointer;
}

#selectVisualData{
  border: 0;
  margin-top: 10px;
  border-radius: 25px;
  text-align: center;
  width: 10%;
  height: 30px;
  font-size: 13pt;
  font-weight: bold;
}

#selectVisualData option{
  background-color: rgb(109, 137, 102);
  color: white;
}

#selectStorico{
  border: 0;
  margin-top: 10px;
  border-radius: 25px;
  text-align: center;
  width: 80%;
  height: 30px;
  font-size: 13pt;
  font-weight: bold;
}

#selectStorico:hover{
  border: 3px solid rgb(109, 137, 102);
}

#selectStorico option{
  background-color: rgb(109, 137, 102);
  color: white;
}

.navb {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
}

nav{
  background-color: rgb(173, 201, 165);
  height: 70px;
  position: fixed;
  top: 0; 
}

.bg-green{
  background-color:  rgb(173, 201, 165);
}

#meteo{
  float: right;
} 
#contMeteo{
  width: 48px;
  height: 48px;
}

#tabMeteo{
  height: 100px;
}

#tabMeteo td{
  border: 0;
}

#tabSwal td{
  border: 0;
  background-color: rgb(173, 201, 165);
} 

#tabSwal{ 
  overflow: clip;
  border-radius: 25px;
  width: 100%;
  height: 150px ;
}

#tabSwal td{ 
  margin-top: 10px;
}

/* #swal2-html-container
{
  height: 250px; 
} */

#fileDiLog{

  float: left;
  margin-left: 2%;
}

.domanda{
  display: inline-block;
}

.domanda img{
  padding-bottom: 7px;
  width: 23px;
  height: 30px;
}

/* CSS LOGIN PAGE */
.form_main {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: rgb(209, 193, 255);
  transform: rotate(45deg);
  left: -180px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 100%;
  border: none;
  background-color: rgb(162, 104, 255);
  height: 30px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(126, 84, 255);
}

.forgotLink {
  z-index: 2;
  font-size: .7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
}


#liMeteo span{
  display: none;
}
.nav-link:hover{
  cursor: pointer;
}


#btnModalita{
  width: fit-content; 
  margin-bottom: 20px;
}



/* MEDIA QUERIES */

@media all and (max-width: 991px) {
  #meteo{
    display: none;
  }

  #liMeteo span{
    display: initial;
  }

  body{
    width: 100%;
    padding-right:0;
  }
  .container 
  {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: none; 
    height: 100%;
    margin-bottom: 0;
  }
  
  #rilevamenti{
    height: 200px;
  }

  #rilevamenti div{
    height: 100%;
    padding-top: 5%;
    font-size: 2.5rem;
  }

  .paramTitolo{
    font-size: 2.5rem;
    margin-bottom: 2%;
  }

  select{
    font-size: 1.5rem!important;
    height: 90px!important;

  }

  .indent{
    font-size: 2rem;
  }

  .domanda img{
    width: 35px;
    height: 45px;
  }

  #tabSwal{
    font-size: 1rem;
    width: 100%;
  }

  #tabMeteo{
    font-size: 1rem;
    height: 100px;
    width: 100%;
    overflow-x: scroll;
  }

  #paginaDati{
    margin-bottom: unset!important;
  }

  #logo{
    font-size: 3rem;
  }

  .navbar{
    font-size: 2rem;
    font-weight: bold;
  }

  .navbar-toggler-icon{
    font-size: 2.5rem;
  }

  .application{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #intestazione{
    margin-top: 18%;
  }

  #btnStato{
    float: right;
    margin-right: 3%;
    margin-bottom: unset!important;
    width: 45%; 
    margin-bottom: 20px;
  }

  .button{
    text-align: center;
    width: 45%;
    height: 100px;
    padding-top: 18px;
  }
  #btnModalita{
    margin-left: 3%;
    width: 45%;
    float: left;
    margin-bottom: unset;
  }

  .togliBr{
    display: none;
  }

  #progetto{
    font-size: 3rem;
  }

  #progetto h2{
    font-size: 3.5rem;
  }
}